header {
  position: relative;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav-link {
  position: relative;
  padding-bottom: 6px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #f97316;
  transition: width .3s ease;

  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}